body {
    background-color: #D2CFCA;
    cursor: url('../images/kyrsor2.png'), auto;
    margin: 0;
}


#fonchik1 {
    position: relative;
    width: 99vw;
}

#oblachka {
    position: absolute;
    width: 100%;
    height: 22vw;
    overflow: hidden;
    margin-top: -60vw;
}

#obl1, #obl2, #obl3 {
    position: absolute;
    width: 35vw;
    left: -40vw;
    animation: cloudMove 18s linear infinite;
}

#obl1 {
    top: 0vw;
    animation-delay: 0s;
}

#obl2 {
    top: 6vw;
    animation-delay: -6s;
}

#obl3 {
    top: 2vw;
    animation-delay: -12s;
}


#zdanie1 {
    position: absolute;
    width: 81vw;
    margin-top: -45vw;
    left: 50%;
    transform: translateX(-50%);
}

#kolokol1 {
    position: absolute;
    width: 3vw;
    margin-top: -24.6vw;
    margin-left: 20vw;
    transform-origin: top center;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#kolokol1.swing {
    animation: bellSwing 0.4s ease;
}

#fonchik2 {
    width: 94vw;
    position: relative;
    margin-top: 10vw;
    left: 50%;
    transform: translateX(-50%);
}

#recep2 {
    position: absolute;
    width: 93.7vw;
    margin-top: 36.6vw;
    left: 50%;
    transform: translateX(-50%);
}

#chasiki {
    position: absolute;
    width: 13vw;
    margin-top: -39vw;
    margin-left: 63vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#strela {
    position: absolute;
    width: 3.5vw;
    margin-top: -32.9vw;
    margin-left: 69.5vw;
    transform-origin: 0% 50%;
    animation: clockArrow 60s linear infinite;
}

#zvonok {
    position: absolute;
    width: 6vw;
    margin-top: -6vw;
    margin-left: 11vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#ribkakartinka {
    position: absolute;
    width: 15vw;
    margin-top: -25vw;
    margin-left: 76vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#ribkakartinka.swing  {
    animation: bellSwing 0.4s ease;
}

#yzorik {
    position: absolute;
    width: 12vw;
    margin-top: -38.8vw;
    margin-left: 79vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#yzorik.swing  {
    animation: bellSwing 0.4s ease;
}

#viktorkot {
    position: absolute;
    width: 27vw;
    margin-top: 13.5vw;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
}


#firstwords {
    position: absolute;
    font-family: Geologica;
    font-size: 2.1vw;
    color: #0F1A2C;
    margin-top: -38vw;
    margin-left: 6vw;
    line-height: 1.3;
    transform: translateY(20px);
}


#truewords {
    position: absolute;
    font-family: Geologica;
    font-size: 2.1vw;
    color: #0F1A2C;
    margin-top: -24vw;
    margin-left: 6vw;
    line-height: 1.3;
    transform: translateY(20px);  
}

#falsewords {
    position: absolute;
    font-family: Geologica;
    font-size: 2.1vw;
    color: #0F1A2C;
    margin-top: -19vw;
    margin-left: 6vw;
    line-height: 1.3;
    transform: translateY(20px);  
}

#viktorkot,
#firstwords,
#truewords,
#falsewords {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#viktorkot.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#firstwords.show,
#truewords.show,
#falsewords.show {
    opacity: 1;
    transform: translateY(0);
}
#firstwords {
    transition-delay: 0.2s;
}

#truewords {
    transition-delay: 0.5s;
}

#falsewords {
    transition-delay: 0.8s;
}

#truewordsotvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2.1vw;
    color: #0F1A2C;
    margin-top: -38vw;
    margin-left: 6vw;
    line-height: 1.3;
    opacity: 0;
}

#falsewordsotvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2.1vw;
    color: #0F1A2C;
    margin-top: -38vw;
    margin-left: 6vw;
    line-height: 1.3;
    opacity: 0;
}

.hide {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

.show-answer {
    opacity: 1 !important;
    transition: opacity 3s ease;
}

#truewordsotvet {
    opacity: 0;
}

#falsewordsotvet {
    opacity: 0;
}

#truewords,
#falsewords {
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#podskazka1 {
    position: absolute;
    width: 3vw;
    margin-top: -41vw;
    margin-left: 92.5vw;
}

#okno2 {
    position: absolute;
    width: 34vw;
    margin-top: -38.5vw;
    margin-left: 58vw; 
    opacity: 0;
}

#help1otvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2vw;
    color: #0F1A2C;
    margin-top: -37.5vw;
    margin-left: 60vw;
    line-height: 1.3;
    opacity: 0;
}

.show-hint {
    opacity: 1 !important;
    transition: opacity 0.3s ease;
}

#gradient3 {
    width: 94vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#bazakniga {
    width: 60.5vw;
    position: absolute;
    margin-top: 12vw;
    left: 50%;
    transform: translateX(-50%);
}

#tatyshka1 {
    position: absolute;
    width: 23vw;
    margin-top: -41vw;
    margin-left: 25vw;
}

#tatyshka2 {
    position: absolute;
    width: 16vw;
    margin-top: -43vw;
    margin-left: 54vw;
}

#tatyshka3 {
    position: absolute;
    width: 22vw;
    margin-top: -43vw;
    margin-left: 25vw;
    opacity: 0;
}

#tatyshka4 {
    position: absolute;
    width: 23vw;
    margin-top: -42vw;
    margin-left: 51vw;
    opacity: 0;
}

#strela1 {
    position: absolute;
    width: 4vw;
    margin-top: -32vw;
    margin-left: 84vw;
}

#strela2 {
    position: absolute;
    width: 4vw;
    margin-top: -32vw;
    margin-left: 11vw;
}

#fonchik4 {
    width: 94vw;
    position: relative;
    margin-left: 2.5vw; 
}

#tatoomachine {
    position: absolute;
    width: 11vw;
    margin-top: -39vw;
    margin-left: 12.5vw;

}

#podskazka2 {
    position: absolute;
    width: 3vw;
    margin-top: -57vw;
    margin-left: 92.5vw; 
}

#okno3 {
    position: absolute;
    width: 34vw;
    margin-top: -54vw;
    margin-left: 58vw; 
    opacity: 0;
}

#help2otvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2vw;
    color: #0F1A2C;
    margin-top: -53vw;
    margin-left: 60vw;
    line-height: 1.3;
    opacity: 0;
}

#igolo1, #igolo2, #igolo3, #igolo4 {
    position: absolute;
    transition: margin-left 0.5s ease, margin-top 0.5s ease;
    width: 2.5vw;
    margin-top: -9vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#igolo4 {
margin-left: 7vw
}

#igolo3 {
margin-left: 13vw
}

#igolo2 {
margin-left: 19vw
}

#igolo1 {
margin-left: 25vw
}

#igolo1.active,
#igolo2.active,
#igolo3.active,
#igolo4.active {
    margin-left: 16.75vw;
    margin-top: -21vw;
}

#kraska1, #kraska2, #kraska3, #kraska4 {
    position: absolute;
    width: 9vw;
    margin-top: -36vw;
}

#kraska1 {
    margin-left: 40.5vw;
}

#kraska2 {
    margin-left: 54vw;
}

#kraska3 {
    margin-left: 68vw;
}

#kraska4 {
    margin-left: 81.5vw;
}

#palitra1, #palitra2, #palitra3, #palitra4 {
  position: absolute;
  width: 10vw;
  height: calc(10vw * 214 / 265);
  margin-top: -11vw;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: 600% 100%; 
  background-position: 0% 0%;
  cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#palitra1 {
    margin-left: 45vw;
    background-image: url("./../images/5Ekolpak1.svg");
}

#palitra2 {
    margin-left: 55vw;
    background-image: url("./../images/5Ekolpak2.svg");
}

#palitra3 {
    margin-left: 65vw;
    background-image: url("./../images/5Ekolpak3.svg");
}

#palitra4 {
    margin-left: 75vw;
    background-image: url("./../images/5Ekolpak4.svg");
}

#okno4 {
    position: absolute;
    width: 16vw;
    margin-top: -36vw;
    margin-left: 13.5vw;
    opacity: 0;
}

#help4otvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2vw;
    color: #0F1A2C;
    margin-top: -34.5vw;
    margin-left: 15.5vw;
    line-height: 1.3;
    opacity: 0;
}

#podskazka4 {
    position: absolute;
    width: 3vw;
    margin-top: -38.5vw;
    margin-left: 29vw;
}

#okno5 {
    position: absolute;
    width: 34vw;
    margin-top: -36vw;
    margin-left: 59vw;
    opacity: 0;

}

#help5otvet {
    position: absolute;
    font-family: Geologica;
    font-size: 2vw;
    color: #0F1A2C;
    margin-top: -35vw;
    margin-left: 64vw;
    line-height: 1.3;
    opacity: 0;
}

#podskazka5 {
    position: absolute;
    width: 3vw;
    margin-top: -38.5vw;
    margin-left: 92.5vw;
}

#traf {
    position: relative;
    width: 32vw;
    margin-top: 9vw;
    margin-left: 22vw;
    opacity: 0;
}

#lb1, #lb2, #lb3, #lb4, #lb5, #lb6, #lb7, #lb8, #lb9, #lb10, #lb11 {
    position: absolute;
}

#lb1 {
    width: 22.9vw;
    margin-left: 26.5vw;
    margin-top: -32.3vw;
}

#lb2 {
    width: 25.3vw;
    margin-left: 25.4vw;
    margin-top: -28.1vw;
}

#lb3 {
    width: 30.7vw;
    margin-left: 22.6vw;
    margin-top: -24.6vw;
}

#lb4 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -21.5vw;
}

#lb5 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -15.2vw;
}

#lb6 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -8.9vw;
}

#lb7 {
    width: 27.6vw;
    margin-left: 24.15vw;
    margin-top: -5.9vw;
}

#lb8 {
    width: 8vw;
    margin-left: 34vw;
    margin-top: -8.1vw;
}

#lb9 {
    width: 5vw;
    margin-left: 35.5vw;
    margin-top: -12.55vw;
}

#lb10 {
    width: 9vw;
    margin-left: 33.5vw;
    margin-top: -18.4vw; 
}

#lb11 {
    width: 19.7vw;
    margin-left: 28.1vw;
    margin-top: -33.9vw;
}

#hb1, #hb2, #hb3, #hb4, #hb5, #hb6, #hb7, #hb8, #hb9, #hb10, #hb11 {
    position: absolute;
}

#hb1 {
    width: 22.9vw;
    margin-left: 26.5vw;
    margin-top: -32.3vw;
}

#hb2 {
    width: 25.3vw;
    margin-left: 25.4vw;
    margin-top: -28.1vw;
}

#hb3 {
    width: 30.7vw;
    margin-left: 22.6vw;
    margin-top: -24.6vw;
}

#hb4 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -21.5vw;
}

#hb5 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -15.2vw;
}

#hb6 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -8.9vw;
}

#hb7 {
    width: 27.6vw;
    margin-left: 24.15vw;
    margin-top: -5.9vw;
}

#hb8 {
    width: 8vw;
    margin-left: 34vw;
    margin-top: -8.1vw;
}

#hb9 {
    width: 5vw;
    margin-left: 35.5vw;
    margin-top: -12.55vw;
}

#hb10 {
    width: 9vw;
    margin-left: 33.5vw;
    margin-top: -18.4vw; 
}

#hb11 {
    width: 19.7vw;
    margin-left: 28.1vw;
    margin-top: -33.9vw;
}

#e1, #e2, #e3, #e4, #e5, #e6, #e7, #e8, #e9, #e10, #e11 {
    position: absolute;
}

#e1 {
    width: 22.9vw;
    margin-left: 26.5vw;
    margin-top: -32.3vw;
}

#e2 {
    width: 25.3vw;
    margin-left: 25.4vw;
    margin-top: -28.1vw;
}

#e3 {
    width: 30.7vw;
    margin-left: 22.6vw;
    margin-top: -24.6vw;
}

#e4 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -21.5vw;
}

#e5 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -15.2vw;
}

#e6 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -8.9vw;
}

#e7 {
    width: 27.6vw;
    margin-left: 24.15vw;
    margin-top: -5.9vw;
}

#e8 {
    width: 8vw;
    margin-left: 34vw;
    margin-top: -8.1vw;
}

#e9 {
    width: 5vw;
    margin-left: 35.5vw;
    margin-top: -12.55vw;
}

#e10 {
    width: 9vw;
    margin-left: 33.5vw;
    margin-top: -18.4vw; 
}

#e11 {
    width: 19.7vw;
    margin-left: 28.1vw;
    margin-top: -33.9vw;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11 {
    position: absolute;
}

#p1 {
    width: 22.9vw;
    margin-left: 26.5vw;
    margin-top: -32.3vw;
}

#p2 {
    width: 25.3vw;
    margin-left: 25.4vw;
    margin-top: -28.1vw;
}

#p3 {
    width: 30.7vw;
    margin-left: 22.6vw;
    margin-top: -24.6vw;
}

#p4 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -21.5vw;
}

#p5 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -15.2vw;
}

#p6 {
    width: 31.8vw;
    margin-left: 22.1vw;
    margin-top: -8.9vw;
}

#p7 {
    width: 27.6vw;
    margin-left: 24.15vw;
    margin-top: -5.9vw;
}

#p8 {
    width: 8vw;
    margin-left: 34vw;
    margin-top: -8.1vw;
}

#p9 {
    width: 5vw;
    margin-left: 35.5vw;
    margin-top: -12.55vw;
}

#p10 {
    width: 9vw;
    margin-left: 33.5vw;
    margin-top: -18.4vw; 
}

#p11 {
    width: 19.7vw;
    margin-left: 28.1vw;
    margin-top: -33.9vw;
}


#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11,
#pipi1, #pipi2, #pipi3, #pipi4, #pipi5, #pipi6, #pipi7,
#pin41, #pin42, #pin43,
#pinkforstar1, #pinkforstar2, #pinkforstar3, #pinkforstar4 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 5;
}

#tatushka1var1 img[id^="lb"],
#tatushka1var2 img[id^="hb"],
#tatushka1var3 img[id^="e"] {
    display: none;
}

#tatushka2var1 img[id^="lb"],
#tatushka2var2 img[id^="hb"],
#tatushka2var3 img[id^="ell"] {
    display: none;
}

#tatushka3var1 img[id^="or"],
#tatushka3var2 img[id^="hardb"],
#tatushka3var3 img[id^="lightb"] {
    display: none;
}

#tatushka4var1 img[id^="lbforstar"],
#tatushka4var2 img[id^="hbforstar"],
#tatushka4var4 img[id^="yellowforstar"] {
    display: none;
}


#ekran6.pattern1-active #p1,
#ekran6.pattern1-active #p2,
#ekran6.pattern1-active #p3,
#ekran6.pattern1-active #p4,
#ekran6.pattern1-active #p5,
#ekran6.pattern1-active #p6,
#ekran6.pattern1-active #p7,
#ekran6.pattern1-active #p8,
#ekran6.pattern1-active #p9,
#ekran6.pattern1-active #p10,
#ekran6.pattern1-active #p11 {
    pointer-events: auto;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#ekran6.pattern2-active #pinkforstar1,
#ekran6.pattern2-active #pinkforstar2,
#ekran6.pattern2-active #pinkforstar3,
#ekran6.pattern2-active #pinkforstar4 {
    pointer-events: auto;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#ekran6.pattern3-active #pin41,
#ekran6.pattern3-active #pin42,
#ekran6.pattern3-active #pin43 {
    pointer-events: auto;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#ekran6.pattern4-active #pipi1,
#ekran6.pattern4-active #pipi2,
#ekran6.pattern4-active #pipi3,
#ekran6.pattern4-active #pipi4,
#ekran6.pattern4-active #pipi5,
#ekran6.pattern4-active #pipi6,
#ekran6.pattern4-active #pipi7 {
    pointer-events: auto;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}
#tatushka2var1 img[id^="lb"],
#tatushka2var2 img[id^="hb"],
#tatushka2var3 img[id^="ell"] {
    display: none;
}

#tatushka3var1 img[id^="or"],
#tatushka3var2 img[id^="hardb"],
#tatushka3var3 img[id^="lightb"] {
    display: none;
}

#tatushka4var1 img[id^="lbforstar"],
#tatushka4var2 img[id^="hbforstar"],
#tatushka4var4 img[id^="yellowforstar"] {
    display: none;
}

#lb1-2, #lb2-2, #lb3-2, #lb4-2, #lb5-2, #lb6-2, #lb7-2 {
    position: absolute;
}

#lb1-2 {
    width: 7vw;
    margin-left: 34.5vw;
    margin-top: -34vw;
}

#lb2-2 {
    width: 17vw;
    margin-left: 29.5vw;
    margin-top: -31.9vw;  
}

#lb3-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -28vw;
}

#lb4-2 {
    width: 30.4vw;
    margin-left: 22.8vw;
    margin-top: -26.5vw;
}

#lb5-2 {
    width: 13.3vw;
    margin-left: 31.3vw;
    margin-top: -12.2vw;
}

#lb6-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -4.2vw;
}

#lb7-2 {
    width: 32vw;
    margin-left: 22vw;
    margin-top: -13vw;
}

#hb1-2, #hb2-2, #hb3-2, #hb4-2, #hb5-2, #hb6-2, #hb7-2 {
    position: absolute;
}

#hb1-2 {
    width: 7vw;
    margin-left: 34.5vw;
    margin-top: -34vw;
}

#hb2-2 {
    width: 17vw;
    margin-left: 29.5vw;
    margin-top: -31.9vw;  
}

#hb3-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -28vw;
}

#hb4-2 {
    width: 30.4vw;
    margin-left: 22.8vw;
    margin-top: -26.5vw;
}

#hb5-2 {
    width: 13.3vw;
    margin-left: 31.3vw;
    margin-top: -12.2vw;
}

#hb6-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -4.2vw;
}

#hb7-2 {
    width: 32vw;
    margin-left: 22vw;
    margin-top: -13vw;
}

#ell1-2, #ell2-2, #ell3-2, #ell4-2, #ell5-2, #ell6-2, #ell7-2 {
    position: absolute;
}

#ell1-2 {
    width: 7vw;
    margin-left: 34.5vw;
    margin-top: -34vw;
}

#ell2-2 {
    width: 17vw;
    margin-left: 29.5vw;
    margin-top: -31.9vw;  
}

#ell3-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -28vw;
}

#ell4-2 {
    width: 30.4vw;
    margin-left: 22.8vw;
    margin-top: -26.5vw;
}

#ell5-2 {
    width: 13.3vw;
    margin-left: 31.3vw;
    margin-top: -12.2vw;
}

#ell6-2 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -4.2vw;
}

#ell7-2 {
    width: 32vw;
    margin-left: 22vw;
    margin-top: -13vw;
}

#pipi1, #pipi2, #pipi3, #pipi4, #pipi5, #pipi6, #pipi7 {
    position: absolute;
}

#pipi1 {
    width: 7vw;
    margin-left: 34.5vw;
    margin-top: -34vw;
}

#pipi2 {
    width: 17vw;
    margin-left: 29.5vw;
    margin-top: -31.9vw;  
}

#pipi3 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -28vw;
}

#pipi4 {
    width: 30.4vw;
    margin-left: 22.8vw;
    margin-top: -26.5vw;
}

#pipi5 {
    width: 13.3vw;
    margin-left: 31.3vw;
    margin-top: -12.2vw;
}

#pipi6 {
    width: 28vw;
    margin-left: 24vw;
    margin-top: -4.2vw;
}

#pipi7 {
    width: 32vw;
    margin-left: 22vw;
    margin-top: -13vw;
}

#here6efon {
    position: absolute;
    width: 20vw;
    margin-top: -36vw;
    margin-left: 76.5vw;
}

#here6emachine {
position: absolute;
    width: 25vw;
    margin-top: -34vw;
    margin-left: 74vw;
}

#here6ekol1, #here6ekol2, #here6ekol3, #here6ekol4 {
    position: absolute;
    width: 4vw;
    margin-top: -2vw;
    margin-left: 77vw;
    cursor: url('../images/kyrsor1.png') 0 0, pointer;
}

#here6ekol2 {
    margin-left: 82vw;
}

#here6ekol3 {
    margin-left: 87vw;
}

#here6ekol4 {
    margin-left: 92vw;
}

#contur1,
#contur2,
#contur3,
#contur4 {
    position: absolute;
    width: 32.1vw;
    margin-top: -33.89vw;
    margin-left: 21.96vw;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 10;
}

#contur1.show,
#contur2.show,
#contur3.show,
#contur4.show {
    opacity: 1;
}

.tattoo-set-1 #tatyshka1,
.tattoo-set-1 #tatyshka2 {
    opacity: 1;
    pointer-events: auto;
}

.tattoo-set-1 #tatyshka3,
.tattoo-set-1 #tatyshka4 {
    opacity: 0;
    pointer-events: none;
}

.tattoo-set-2 #tatyshka1,
.tattoo-set-2 #tatyshka2 {
    opacity: 0;
    pointer-events: none;
}

.tattoo-set-2 #tatyshka3,
.tattoo-set-2 #tatyshka4 {
    opacity: 1;
    pointer-events: auto;
}

.tattoo-set-1 #tatyshka1,
.tattoo-set-1 #tatyshka2 {
    opacity: 1;
}

.tattoo-set-1 #tatyshka3,
.tattoo-set-1 #tatyshka4 {
    opacity: 0;
}

.tattoo-set-2 #tatyshka1,
.tattoo-set-2 #tatyshka2 {
    opacity: 0;
}

.tattoo-set-2 #tatyshka3,
.tattoo-set-2 #tatyshka4 {
    opacity: 1;
}

#tatyshka1,
#tatyshka2,
#tatyshka3,
#tatyshka4 {
    transition: opacity 0.5s ease;
}

#contur2 {
    margin-top: -37vw;
    width: 23vw;
    margin-left: 26vw;
}

#or41, #or42, #or43{
    position: absolute;
}

#or41 {
    width: 20vw;
    margin-top: 10vw;
    margin-left: 10vw;
}

#or42 {
    width: 23vw;
    margin-top: -37.1vw;
    margin-left: 26vw;
}

#or43 {
    width: 17vw;
    margin-top: -19.3vw;
    margin-left: 30.7vw;
}

#hardb41, #hardb42, #hardb43{
    position: absolute;
}

#hardb41 {
    width: 8vw;
    margin-top: -33vw;
    margin-left: 37.65vw;
}

#hardb42 {
    width: 23vw;
    margin-top: -37.1vw;
    margin-left: 26vw;
}

#hardb43 {
    width: 17vw;
    margin-top: -19.3vw;
    margin-left: 30.7vw;
}

#lightb41, #lightb42, #hlightb43{
    position: absolute;
}

#lightb41 {
    width: 8vw;
    margin-top: -33vw;
    margin-left: 37.65vw;
}

#lightb42 {
    width: 23vw;
    margin-top: -37.1vw;
    margin-left: 26vw;
}

#lightb43 {
    width: 17vw;
    margin-top: -19.3vw;
    margin-left: 30.7vw;
}

#pin41, #pin42, #hpin43{
    position: absolute;
}

#pin41 {
    width: 8vw;
    margin-top: -33vw;
    margin-left: 37.65vw;
}

#pin42 {
    width: 23vw;
    margin-top: -37.1vw;
    margin-left: 26vw;
}

#pin43 {
    width: 17vw;
    margin-top: -19.3vw;
    margin-left: 30.7vw;
}

#lbforstar1, #lbforstar2, #lbforstar3, #lbforstar4 {
    position: absolute;
}

#lbforstar1 {
    width: 19.4vw;
    margin-top: -6.5vw;
    margin-left: 21.7vw;
}

#lbforstar2 {
    width: 12vw;
    margin-top: -18.5vw;
    margin-left: 35.5vw;
}

#lbforstar3 {
    width: 11vw;
    margin-top: -33.8vw;
    margin-left: 42.9vw;
}

#lbforstar4 {
    width: 7.6vw;
    margin-top: -31.9vw;
    margin-left: 43.4vw;
}

#hbforstar1, #hbforstar2, #hbforstar3, #hbforstar4 {
    position: absolute;
}

#hbforstar1 {
    width: 19.4vw;
    margin-top: -6vw;
    margin-left: 21.7vw;
}

#hbforstar2 {
    width: 12vw;
    margin-top: -18vw;
    margin-left: 35.5vw;
}

#hbforstar3 {
    width: 11vw;
    margin-top: -33.3vw;
    margin-left: 42.9vw;
}

#hbforstar4 {
    width: 7.6vw;
    margin-top: -31.4vw;
    margin-left: 43.4vw;
}

#pinkforstar1, #pinkforstar2, #pinkforstar3, #pinkforstar4 {
    position: absolute;
}

#pinkforstar1 {
    width: 19.4vw;
    margin-top: -6.5vw;
    margin-left: 21.7vw;
}

#pinkforstar2 {
    width: 12vw;
    margin-top: -18.5vw;
    margin-left: 35.5vw;
}

#pinkforstar3 {
    width: 11vw;
    margin-top: -33.8vw;
    margin-left: 42.9vw;
}

#pinkforstar4 {
    width: 7.6vw;
    margin-top: -31.9vw;
    margin-left: 43.4vw;
}

#yellowforstar1, #yellowforstar2, #yellowforstar3, #yellowforstar4 {
    position: absolute;
}

#yellowforstar1 {
    width: 19.4vw;
    margin-top: -6.5vw;
    margin-left: 21.7vw;
}

#yellowforstar2 {
    width: 12vw;
    margin-top: -18.5vw;
    margin-left: 35.5vw;
}

#yellowforstar3 {
    width: 11vw;
    margin-top: -33.8vw;
    margin-left: 42.9vw;
}

#yellowforstar4 {
    width: 7.6vw;
    margin-top: -31.9vw;
    margin-left: 43.4vw;
}

/* #govno {
    width: 100vw;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
} */

#ekr7da1 {
    margin-top: 9vw;
    position: relative;
    width: 95vw;
    margin-left: 2vw;
}

#ekr7da2 {
position: absolute;
width: 70vw;
margin-top: 12vw;
margin-left: -85vw;
}

#ekr7da3, #ekr7da4, #ekr7da5, #ekr7da6 {
    position: absolute;
    margin-left: -50vw;
    margin-top: 28vw;
    width: 6vw;

}

#ekr7da3 {
    width: 10vw;
    margin-left: -63vw;
    margin-top: 27vw;
}

#ekr7da4 {
    width: 9vw;
    margin-left: -65vw;
    margin-top: 29vw;
}

#ekr7da5 {
    width: 5vw;
    margin-left: -60vw;
    margin-top: 32vw;
}

#ekr7da6 {
    width: 8vw;
    margin-left: -60vw;
    margin-top: 31vw;
}

.fade-out {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}